.default-button {
  border-radius: 0.9em;
  cursor: pointer;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
  cursor: pointer;
}

.default-button.primary {
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
}

.default-button.primary:hover {
  background-color: #0071e2;
}

.default-button.large {
  width: 100%;
}